[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu111/"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {version = "==1.10.1+cu111", index = "downloadpytorch"}
noisereduce = "==2.0.0"
scikit-learn = "==1.0.2"
sounddevice = "==0.4.4"
SoundFile = "==0.10.3.post1"
numpy = "~=1.23"
protobuf = "~=3.20"
pyworld = "==0.3.2"
onnxruntime-directml = "==1.13.1"
pyinstaller = "*"

[dev-packages]
PyAudio = "~=0.2"
py-cpuinfo = "~=9.0"
psutil = "~=5.9"
nvgpu = "~=0.9"

[requires]
python_version = "3.9"
